
//Define the base color palette for the theme.
$color-primary:   #5A7D7C !default;
$color-secondary: #A0C1D1 !default;
$color-light:     #DADFF7 !default;
$color-dark:      #232C33 !default;
$color-gray:      #B5B2C2 !default;
$color-red:       #E85858 !default;
$color-green:     #5ed13e !default;
$color-blue:      #2ba7e3 !default;
$color-yellow:    #FFCB00 !default;
$color-orange:    #e38220 !default;
$color-purple:    #d469e5 !default;
$color-teal:      #19a4b5 !default;
$black:           #000 !default;
$white:           #fff !default;

//if set to true, it wil generate 500+ extra lines of css
$responsive-colors: false;

//Map the theme colors to use in the scss files.
$theme-colors: (
        "primary":    $color-primary,
        "secondary":  $color-secondary,
        "light":      $color-light,
        "dark":       $color-dark,
        "gray":       $color-gray,
        "red":        $color-red,
        "green":      $color-green,
        "blue":       $color-blue,
        "yellow":     $color-yellow,
        "orange":     $color-orange,
        "purple":     $color-purple,
        "teal":       $color-teal,
        "black":      $black,
        "white":      $white
) !default;


//Fonts
$default-font:    'Lato', sans-serif !default;
$body-color:      $black !default;
$link-color:      $color-primary !default;

//Breakpoints (stolen from Bootstrap)
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

//Map all breakpoints
$breakpoints: (
        "xs": $breakpoint-xs,
        "sm": $breakpoint-sm,
        "md": $breakpoint-md,
        "lg": $breakpoint-lg,
        "xl": $breakpoint-xl
) !default;

//Container widths
$container-xs: 460px !default;
$container-sm: 540px !default;
$container-md: 720px !default;
$container-lg: 960px !default;
$container-xl: 1140px !default;

//Map all container widths
$container-widths: (
        "xs": $container-xs,
        "sm": $container-sm,
        "md": $container-md,
        "lg": $container-lg,
        "xl": $container-xl
) !default;

//Navigatie properties
$nav-height:        5rem !default;
$nav-item-margin-y: 1rem !default;

//Card properties
$card-margin-y:       1rem !default;
$card-margin-x:       1rem !default;
$card-padding-y:      1rem !default;
$card-padding-x:      1rem !default;
$card-border-radius:  0.25rem !default;
$card-header-text:    $white !default;
$card-header-bg:      $color-primary !default;