@import "../mixins/breakpoint";

$flex-item-values: (
        center: center,
        end: flex-end,
        start: flex-start
);

$flex-item-jc-values: (
        around: space-around,
        between: space-between,
);

@include responsive($flex-item-values, 'justify-content', 'flex-jc');
@include responsive($flex-item-jc-values, 'justify-content', 'flex-jc');
@include responsive($flex-item-values, 'align-items', 'flex-ai');

